* {
  box-sizing: border-box;
}

.calc {
  width: 400px;
  background-color: black;
}

.display {
  color: white;
  font-size: 40px;
  text-align: right;
}

.button-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.5%;
}

.button-row:last-child {
  margin-bottom: 0;
}

.button {
  width: 24.5%;
}

.double {
  width: 49.7%;
}

.triple {
  width: 74.8%;
}